* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* ➀切り替えボタン */
.buttons{
    margin: 50px auto;   /* 上下 50px 空け、左右中央に配置 */
    width: 210px;        /* 横幅 210px */
}

/* ➁ボタン単体 */
.button{
    width: 100px;               /* 横幅 210px */
    height: 30px;               /* 縦幅 30px */
}

/* Aボタン */
#a_btn{
    color: white;           /* 文字色：白 */
    background-color: red;  /* 背景色：赤 */
}

/* Aボタン active */
#a_btn.active{
    color: black;             /* 文字色：黒 */
    background-color: white;  /* 文字色：白 */
}

/* Bボタン */
#b_btn{
    color: black;             /* 文字色：黒 */
    background-color: white;  /* 文字色：白 */
}

/* Bボタン active */
#b_btn.active{
    color: white;            /* 文字色：白 */
    background-color: blue;  /* 背景色：青 */
}

/* ➂切り替え画面 */
.screen{
    width: 100%;         /* 横幅 100% */
    height: 500px;       /* 縦幅 500px */
    position: relative;  /* 親要素 */
}

/* ➃A画面 */
.a_screen{
    position: absolute;           /* 子要素 */
    opacity: 1;                   /* 要素の透明度 */
    pointer-events: auto;         /* マウスイベントをオン */
    width: 100%;                  /* 横幅 100% */
    height: 100%;                 /* 縦幅 100% */
    background-color: #febfbf;  /* 背景色 */
}

/* ➃A画面 active */
.a_screen.active{
    opacity: 0;           /* 要素の透明度 */
    pointer-events: none; /* マウスイベントをキャンセル */
}

/* ➄B画面 */
.b_screen{
    opacity: 0;           /* 要素の透明度 */
    pointer-events: none; /* マウスイベントをキャンセル */
}

/* ➄B画面 active */
.b_screen.active{
    position: absolute;           /* 子要素 */
    opacity: 1;                   /* 要素の透明度 */
    pointer-events: auto;         /* マウスイベントをオン */
    width: 100%;                  /* 横幅 100% */
    height: 100%;                 /* 縦幅 100% */
    background-color: #b2d4f7;  /* 背景色 */
}

